<%= form_for @user do |f| %>
  <div id='form-input'>
    <%= f.label :username, "Username" %></br>
    <%= f.text_field :username %>
  </div>
  <div id='form-input'>
    <%= f.label :password, "Password" %></br>
    <%= f.password_field :password %>
  </div>
  <div id='form-input'>
    <%= f.label :password_confirmation, "Password Confirmation" %></br>
    <%= f.password_field :password_confirmation %>
  </div></br>
  <%= f.submit(:class => 'btn btn-success') %>
<% end %>
