<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id='user_header'>
      <% if current_user %>
        <%= link_to image_tag(current_user.avatar.url(:thumb)), user_path(current_user), :id=> "avatar" %><br>
        Hello <b><%= link_to current_user.username, user_path(current_user) %></b>.
        <%= link_to "Log Out", session_path("current"), method: "delete" %>
      <% else %>
        <%= link_to "Sign Up", signup_path %> or
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
</body>
</html>
